# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Python environment files
.env

# Test/cache files
.pytest_cache/
.mypy_cache/